# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
inf1050_loc240/.DS_Store
inf1050_loc240/train/CNN/Loss_xt/.DS_Store
inf1050_loc240/train/CNN/.DS_Store
inf1050_loc240/train/CNN/Loss_xt/SRCNN_Dong/.DS_Store
inf1050_loc240/train/.DS_Store
inf1050_loc240/4040/cnn/.DS_Store
.DS_Store
.DS_Store
*.pyc
inf1050_loc240/train/ELF/.ipynb_checkpoints/ztest-checkpoint.ipynb
